main .articles .caption {
    font-weight: bold;
    font-size: 1.5rem;
}

main .articles .noData {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

main .articles ul {
    list-style-type: none;
    padding-left: 0;
}

main article .footer {
    overflow: auto;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    margin-bottom: 2rem;
}

main article .footer .right {
    padding: 0.5rem;
    float: right;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

main article .footer .left {
    padding: 0.5rem;
    float: left;
}

main article .footer .left .positive-score {
    position: relative;
    font-weight: bold;
    color: green;
    bottom: 0.3rem;
}

main article .title {
    color: var(--caption-color);
    font-weight: bold;
    font-size: 1.5rem;
}

main article .information {
    margin-top: 0.4rem;
    color: grey;
}

main article .body {
    border-left: 4px solid #b9b9b9;
    padding-left: 1rem;
}

main article .body p:last-child {
    margin: 0.6rem;
}

main article .attachment {
    list-style-type: none;
    margin-top: 0.6rem;
    padding-left: 0;
}

main article .attachment li {
    background: url("/img/paperclip-16x16.png") no-repeat;
    padding-left: 20px;
    font-size: 0.9rem;
    color: grey;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}